{% if question %}
<form action="/questions/{{ question.id}}" method="post"> 
{% else %}
<form action="/questions" method="post"> 
{% endif %}

     <div>
     <label for="name">Name: </label>
     {% if question %}
        <input type="text" name="name" value="{{ question.name }}" />
        {% else %}
        <input type="text" name="name" />
         {% endif %}
     <label for="name">Weight: </label>
         {% if question %}
        <input type="text" name="weight" value="{{ question.weight }}" />
         {% else %}
       <input type="text" name="weight" />
        {% endif %}
     </div>
        <input type="submit" value="Save Question" />
</form>