{% extends 'layouts/_default.twig' %}
{% block title %}Create a new Quiz{% endblock %}

{% block main_content %}
	<h1>Create new Quiz</h1>
	{% if errors %}
		<ul>
			{% for e in errors %}
			<li>{{ e }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% include 'quizzes/_form.twig' %}
{% endblock %}