{% extends 'layouts/_default.twig' %}

{% block main_content %}
<ul>
   {% for choice in choices %}
      <li>{{ choice.name}}, {{ choice.weight }} - 
      <a href="/choices/{{ choice.id }}/edit">Edit</a>
      |
        <a href="/choices/{{ choice.id }}/delete">Delete</a>
      </li>
   {% endfor %}
</ul>
<p>
<a href="/choices/new">Create New Choice</a>
</p>
{% endblock %}